## Spring profile settings
SPRING_PROFILES_ACTIVE=dev

## Is verifier settings
VERIFIER_SERVICE_PORT=8080
VERIFIER_SERVICE_BD_USERNAME=postgres
VERIFIER_SERVICE_BD_PASSWORD=admin
VERIFIER_SERVICE_BD_URL=jdbc:postgresql://localhost:5432/verifier_service
