## Spring profile settings
SPRING_PROFILES_ACTIVE=dev

## Verifier settings
VERIFIER_SERVICE_PORT=3351
VERIFIER_SERVICE_BD_USERNAME=postgres
VERIFIER_SERVICE_BD_PASSWORD=admin
VERIFIER_SERVICE_BD_URL=jdbc:postgresql://localhost:33510/verifier_service
